html {
  scroll-behavior: smooth;
}
#countryCode {
  margin-top: 20px;
  margin-left: 40%;
  padding: 10px;
  border: 2px solid black;
  color: black;
  border-radius: 20px;
}
#submit {
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: brown;
  background-color: cornflowerblue;
  border-radius: 20px;
}
body {
  overflow-x: hidden;
  background: #c94b4b;
  background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);
  background: linear-gradient(to right, #4b134f, #c94b4b);
}
#thumbnail {
  padding-top: 30px;
  padding-left: 120px;
}
#heading {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  text-decoration: underline;
  padding-left: 30px;
  color: whitesmoke;
}
.thumbnail {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: antiquewhite;
}
.navbar {
  padding-right: 60px;
}
